body{

	margin: 0 auto;
}


.signgo{


width: 100%;
height: 100px;
background:lightgray;
color: black;
border-bottom: white;
border-radius: 10px;
padding-top: 28px;
padding-left:20px;

}

h1{
background: lightgray;
padding-left: 30%;
}

input[type=text]{

width: 200px;
height: 25px;
background:lightblue;
color: black;
border:3px double black;
font-style: italic;
font-weight: bold;
border-radius: 8px;

}

input[type=text]:hover{

	width: 220px;
	background: lightgray;
}

input[type=text]{

width: 200px;
height: 25px;
background:lightblue;
color: black;
border:3px double black;
font-style: italic;
font-weight: bold;
border-radius: 8px;

}

input[type=text]:hover{

	width: 220px;
	background: lightgray;
}

input[type=password]{


	width: 200px;
	height: 25px;
	background:lightblue;
	color: black;
	border:3px double black;
	border-radius:8px;
	font-style: italic;
	font-weight: bold;

}

input[type=password]:hover{


	width: 220px;
	background: lightgray;
}

input[type=email]{

	width: 200px;
	height: 25px;
	background: lightblue;
	color:black;
	border:3px double black;
	border-radius: 8px;
	font-style: italic;
	font-weight: bold;

}

input[type=email]:hover{
	width: 230px;
	background:lightgray;
}

input[type=submit]{

	width: 80px;
	height:30px;
	background:lightpink;
	color:black;
	border:3px inset black;
	border-radius:5px;

}


input[type=submit]:hover{

	width: 85px;
	background: lightblue;
}

.let{

	background: brown;
	padding-left: 20px;

}


.edu{

	background: brown;
	padding-left: 20px;

}

.pro{

	background: brown;
	padding-left: 20px;

}

.prog{

	background: brown;
	padding-left: 20px;

}


.them{

	background: brown;
	padding-left: 20px;

}


.comment{

	background: brown;
	padding-left: 20px;

}

textarea{

	border:2px dotted black;


}

.date{

	background: brown;
	padding-left: 20px;

}

.upl{

	background: brown;
	padding-left: 20px;

}

.suborcan{

	background: green;
	padding-left: 20px;

}